<title>Ruby Newbie</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header">
<a name="top">&nbsp;</a><br />
<h1><a href="/">Ruby Newbie</a></h1>
<h2>Weekly blog by Brett Morin</h2>
</div>


<div id="contentbar"> 

<div class="contentbarleft">
Navigation :
</div>

<div class="contentbarright">
Articles :
</div>

</div>

<div id="content">

<div class="right"> 
<% if content == "weekly" %>
  <a name="week22">&nbsp;</a><br />
  <h2><a href="#week22">Week 22</a></h2>
  <%= erb :week22 %>
  <br />
  <a name="Week20">&nbsp;</a><br />
  <h2><a href="#Week20">Week 20</a></h2>
  <%= erb :week20 %>
  <br />
  <a name="Week19">&nbsp;</a><br />
  <h2><a href="#Week19">Week 19</a></h2>
  <%= erb :week19 %>
  <br />
  <a name="Week18">&nbsp;</a><br />
  <h2><a href="#Week18">Week 18</a></h2>
  <%= erb :week18 %>
  <br />
  <a name="Week17">&nbsp;</a><br />
  <h2><a href="#Week17">Week 17</a></h2>
  <%= erb :week17 %>
  <br />
  <a name="Week16">&nbsp;</a><br />
  <h2><a href="#Week16">Week 16</a></h2>
  <%= erb :week16 %>
  <br />
  <a name="Week15">&nbsp;</a><br />
  <h2><a href="#Week15">Week 15</a></h2>
  <%= erb :week15 %>
  <br />
  <a name="Week14">&nbsp;</a><br />
  <h2><a href="#Week14">Week 14</a></h2>
  <%= erb :week14 %>
  <br />
  <a name="Week13">&nbsp;</a><br />
  <h2><a href="#Week13">Week 13</a></h2>
  <%= erb :week13 %>
  <br />
  <a name="Week12">&nbsp;</a><br />
  <h2><a href="#Week12">Week 12</a></h2>
  <br />
  <img src="images/sinatra.png" alt="Sinatra 404 image" style="border: 0px solid #ccc;" />
  <br /><br />
  <p>I love how simple Sinatra is.</p>
<% else %>
  <%= erb content.to_sym %>
<% end %>

</div>

<div class="left"> 
<h2>Deliberately Practicing: </h2>
<ul> 
<li><a href="/practices/dsa">Algorithms and Data Structures</a></li>
<li><a href="/practices/feedbackloop">Feedback loop</a></li>
<li><a href="/practices/math">Mathematics</a></li>
<li><a href="/practices/politics">Politics: Libertarian</a></li>
<li><a href="/practices/ruby">Ruby</a></li>
<li><a href="/practices/writing">Writing Skills</a></li>
</ul>

<h2>Weekly log</h2>
<ul>
<li><a href="/#Week22">Week 22</a></li>
<li><a href="/#Week20">Week 20</a></li>
<li><a href="/#Week19">Week 19</a></li> 
<li><a href="/#Week18">Week 18</a></li> 
<li><a href="/#Week17">Week 17</a></li> 
<li><a href="/#Week16">Week 16</a></li> 
<li><a href="/#Week15">Week 15</a></li> 
<li><a href="/#Week14">Week 14</a></li> 
<li><a href="/#Week13">Week 13</a></li> 
<li><a href="/#Week12">Week 12</a></li> 
</ul>

<h2>My Code:</h2>
<ul> 
<li><a href="/sorts">Sorting Methods</a></li>
<li><a href="/time">time.now (server)</a></li>
</ul>

<h2>My Dev Setup:</h2>
<ul> 
<li><a href="/environment/crunchbang">crunchbang</a></li>
</ul>

<h2>Useful References:</h2>
<ul>
<li><a href="http://www.youtube.com/watch?v=RpRRUQFbePU">Lecture 1: Data Structures and Algorithms by R. Buckland</a></li> 
<li><a href="http://ruby.learncodethehardway.org/book/ex1.html">Excercise 1: Learn Ruby the Hard Way</a></li> 
<li><a href="http://www.girlwithcomputer.com/category/sinatra/">Sinatra by Girl with Computer</a></li> 
</ul>


</div>


<div style="clear: both;"> </div>

</div>
<a href="#top">back to top</a><br />
<div id="footer">
Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.openwebdesign.org/">Web Design Dubai</a>
</div>

</div>

